/*
       BODY
         */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-image: url("../img/img4.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}
ul {
    padding: 0;
    overflow-y: scroll;
}
ul li button {
    height: fit-content;
}
ul li {
    align-items: center;
}

/*
HEADER
 */
header {
    width: 100%;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
@media (max-width: 600px) {
    header {
        flex-direction: column;
    }
    button {
        width: 35%;
        align-self: flex-end;
    }
}
/*
BOTONES
 */
button {
    font-weight: bold;
    padding: 1em;
    border: 2px solid black;
    background-color: white;

}
button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

/*
INICIO DE SESION
 */
.wrapper {
    width: 100%;
    height: 89.6vh;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio-sesion {
    display: flex;
    height: fit-content;
    border-radius: 25px;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    width: 30%;
    background-color: rgba(255,255,255,0.95);
    text-align: center;
}
.inicio-sesion input {
    border: 2px solid black;
    padding: 1em;
}
@media (max-width: 600px) {
    .wrapper {
        align-items: flex-start;
    }
    .inicio-sesion {
        width: 100%;
    }
}
/*
FOOTER
 */
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    align-self: flex-end;
    width: 100%;
}

/*
MAIN
 */
main {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 45vh 45vh;
}
main div {
    background-color: rgba(255,255,255,0.95);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}
input {
    background-color: white;
    border: 2px solid black;
    padding: 1em;
}
main .form-persona h2 {
    width: 100%;
    text-align: center;
}
main .form-persona {
    gap: 1em;
    align-items: center;
    justify-content: center;
}
main .form-persona button {
    height: 15%;
    margin-top: 18px;
}
/*
LISTA DE CLIENTES
 */
.lista-clientes input {
    height: fit-content;
    width: 40%;
}
.lista-clientes {
    align-items: baseline;
    gap: 1em;
    justify-content: space-around;
}
ul {
    border: 1px solid black;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}
ul li {
    width: 100%;
    border: 1px solid black;
    padding: 0.5em;
    display: flex;
    justify-content: space-around;
    background-color: white;
}
/*
FORM ENTRENAMIENTO
 */

#form-entrenamiento h2 {
    width: 100%;
    text-align: center;
}
#form-entrenamiento input, #form-entrenamiento select,
#form-entrenamiento button {
    height: fit-content;
}
select {
    border: 2px solid black;
    background-color: white;
    padding: 1em;
    margin-top: 18px;
}
#form-entrenamiento {
    justify-content: space-between;
    align-items: flex-start;
}
#form-entrenamiento button {
    margin-top: 18px;
}
h2 {
    height: fit-content;
}

@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    main div {
        justify-content: space-around;
        align-items: center;
    }
    input {
        width: 100%;
    }
}
#lista-entrenamientos li {
    flex-wrap: wrap;
    width: 100%;
}

.warning {
    background-color: red;
    position: absolute;
    width: 20%;
    height: 150px;
    top: 40%;
    left: 40%;
    border: 2px solid black;
    outline: 6px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
}
/*
RECORDS
 */
.records-popup {
    width: 20%;
    position: absolute;
    height: 150px;
    top: 40%;
    left: 40%;
    background-color: white;
    border: 2px solid black;
    outline: 6px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
}
.bocadillo {
    background-color: white;
    border: 2px dashed black;
    width: fit-content;
    padding: 1em;
    color: goldenrod;
    position: absolute;
    z-index: 10;
    top: 7%;
    left: 35%;
}
.noche {
    background-color: black;
    color: white;
    border: 2px solid white;
}
input.noche {
    border: 2px solid white;
}
h1.noche, h2.noche, p.noche, label.noche, div.noche {
    border: none;
}
li.noche {
    color: black;!important;
    background-color: white;!important;
    border: 2px solid black;
}
.bienvenida {
    position: absolute;
    width: fit-content;
    background-color: black;
    color: white;
    border: 2px solid white;
    outline: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25%;
    left: 0;
    padding: 2em;
    z-index: 200;
}
.bienvenida button {
    background-color: red;
}

/*****************/
.galeria {
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: white;
    z-index: 200;
    margin: auto;
    border: 1px solid black;
    outline: 4px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria img {
    width: 300px;
    height: 500px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color: black;
    border: 1px solid black;
}


.next {
    right: 0;

}
.prev {
    left: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#cerrar-galeria {
    position: absolute;
    background-color: red;
    top: 1%;
    right: 1%;
}